[submodule "SlnProk.Sdk"]
	path = src/SlnProj.Sdk
	url = https://justinwritescode@github.com/justinwritescode/SlnProj.Sdk.git
[submodule "git-search"]
	path = src/dotnet-search
	url = https://justinwritescode@github.com/justinwritescode/dotnet-search.git
[submodule "src/Build.Include.Sdk"]
	path = src/MSBuild.IncludeSdk
	url = https://github.com/justinwritescode/Build.Include.Sdk.git
[submodule "common"]
	path = common
	url = https://github.com/justinwritescode/common.git
[submodule "nuget-icons"]
	path = nuget-icons
	url = https://github.com/justinwritescode/nuget-icons.git
[submodule "src/MSBuild.SlnProj"]
	path = src/MSBuild.SlnProj
	url = https://github.com/justinwritescode/MSBuild.SlnProj.git
[submodule "src/MSBuild.XmlDocMd"]
	path = src/MSBuild.XmlDocMd
	url = https://github.com/justinwritescode/MSBuild.XmlDocMd.git
