[submodule "SlnProk.Sdk"]
	path = src/SlnProj.Sdk
	url = https://justinwritescode@github.com/justinwritescode/SlnProj.Sdk.git
[submodule "git-search"]
	path = src/git-search
	url = https://justinwritescode@github.com/justinwritescode/dotnet-search.git
