<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <config>
   <add key="defaultPushSource" value="/Users/justin/.nuget/packages" />
 </config>
 <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="/Users/justin/.nuget/packages" />
    <add key="Azure" value="https://pkgs.dev.azure.com/justinwritescode/_packaging/justinwritescode/nuget/v3/index.json" />
    <add key="GitHub" value="https://nuget.pkg.github.com/justinwritescode/index.json" />
 </packageSources>
</configuration>