<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="/Users/david/.nuget/packages" />
    <add key="GitHub.com/justinwritescode" value="https://nuget.pkg.github.com/justinwritescode/index.json" />
 </packageSources>
</configuration>