name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Hi there and welcome to justinwritescode! Thanks for submitting your first issue! Did you use one of the templates?"
        pr-message: "Your first pull request! Thanks!  Did you fill out the entire form?"
